{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link id="style" rel="stylesheet" href="{% static 'css/style2.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <title>AJAX</title>
</head>
<body>
    <section id="page1">
        <div class="row text-center">
            <h1>Book Search</h1>
        </div>
        <div class="row">
            <input id="search" type="text" class="form-control">
            <button type="button" class="btn btn-dark btn-lg btn-block">Search</button>
            <!-- <div class="col-lg-2">
                <div class="form-group">
                    <label for="number">Number of books:</label>
                    <select class="form-control" id="number">
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                    </select>
                </div> 
            </div> -->
        </div>
    </section>  

    <section id="page2">
        <table class="table table-dark table-bordered">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Published Date</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody id="books">
            </tbody>
        </table>
    </section>

    <script src="{% static 'js/script2.js' %}"></script>
</body>
</html>