body {
    background-color: white;
    color: black;
    height: 100vh;
    padding: 5em;
}

.toggle {
    text-align: center;
}

h1 {
    margin-top: 2em;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: solid black 1px;
}

h3 {
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px 0px;
    text-align: center;
    border: solid black 2px;
    border-radius: 20px;
}

h3:hover {
    background-color: #607d8b;
}

.accordion {
    float: center;
    padding: 1em 2em 1em;
    background-color: #eceff1;
    border-radius: 50px;
    margin: 3em 0% 0px;
}

li {
    font-size: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4c0c5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: ghostwhite;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #156588;
}

input:focus + .slider {
    box-shadow: 0 0 1px #156588;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}