{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link id="style" rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Story 7</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
</head>
<body>
    <section class="page1">
        <div class="fixed-top">
            <div class="row toggle">
                <h4>Change Theme</h4>
                <label class="switch">
                    <input id="theme-switch" type="checkbox">
                    <div class="slider round"></div>
                </label>
                <h4>Light - Dark</h4>
            </div>
        </div>

        <div class="row">
            <h1>
                Akmal Farhan Raiyan
            </h1>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3">
                <div id="accordion" class="accordion">
                    <h3 id="0">Activities</h3>
                    <div>
                        <ul>
                            <li>Belajar</li>
                            <li>Nugas</li>
                        </ul>
                    </div>
                    <h3 id="1">Organizations</h3>
                    <div>
                        <ul>
                            <li>None</li>
                        </ul>
                    </div>
                    <h3 id="2">Achivements</h3>
                    <div>
                        <ul>
                            <li>None</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
</body>
</html>