html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    padding: 5em;
    background: white;
}

.page2 {
    overflow-y: scroll;
}




