{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Landing Page</title>
</head>
<body>
    <section class="page1">

        <div class="row">
            <div class="col-lg-8">
                <h1>Halo, apa kabar?</h1>
            </div>
        </div>
     
        <form action='' method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-8 input">
                    {{ form }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 ">
                    <input type="submit" class="btn btn-primary" value="Add Status" id="submit">
                </div>
            </div>
        </form>

    </section>

    <section class="page2">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            
            <tbody>
                {% for status in status %}
                <tr>
                    <td>{{status.status}}</td>
                    <th>{{status.time}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</body>
</html>