html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    color: white;
    background: #263238;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    padding: 5em;
    /* background: white; */
}

#page2 {
    overflow-y: scroll;
}

th, td{
    vertical-align: middle;
    text-align: center;
    min-width: 100px;
}

select {
    width: 1em;
}

#page1 {
    padding: 15% 40%;
}

h1 {
    margin-bottom: 1em;
}

button {
    color: black;
}
